on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
      - master
    paths:
      - .github/workflows/semgrep.yml
  schedule:
    - cron: "52 9 * * *"

name: Semgrep

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    container:
      image: semgrep/semgrep

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep
        # Generate HTML report
        run: |
          semgrep ci --html --output semgrep-report.html

      - name: Upload Semgrep HTML report
        uses: actions/upload-artifact@v4
        if: always() # Ensures report is uploaded even if vulnerabilities are found
        with:
          name: semgrep-report
          path: semgrep-report.html
